*{
    padding: 0;
    margin: 0;
}

html, body{
    font-family: "Lucida Console", monospace;
    background-color: #111111;
    color: #FFFFFF;
    height: 100%;
    width: 100%;
}

#TermsOverlay{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}

#TermsContainer{
    width: 90%;
    height: 90%;
    /* background-color: rgb(89, 9, 9); */
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn{
    margin-top: 10px;
    padding: 5px;
    border: 0;
    background-color: whitesmoke;
    display: block;
}