html{
    font-family: "Lucida Console", monospace;
    background-color: #111111;
    color: #FFFFFF;
}

body{
    height: 100%;
    min-height: 100%;
}

ul{
    list-style-type: square;
}

a{
	color: #0074D9;
}

.blog_text{
	max-width: 600px;
	margin-bottom:300px;
}

li{
    margin: 0 0 10px 0;
}
